@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:400,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --main-color: lightblue;
  --main-color-lighter: lightblue;
  --main-color-darker: lightblue;
  --secondary-color: lightcoral;
  --color-white: white;
  --color-black: black;
  --color-dark-gray: gray;
  --color-light-gray: lightgray;
  --default-font: 'roboto', arial, sans-serif;
  --special-font: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: lightgray;
  line-height: 1.4;
  background: white;
}

h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--default-font);
}

h2 {
  font-size: 1.5rem;
  font-family: var(--default-font);
}

h3 {
  font-size: 1.17rem;
  font-family: var(--default-font);
}

h4 {
  font-size: 1rem;
  font-family: var(--default-font);
}

h5 {
  font-size: .85rem;
  font-family: var(--default-font);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  height: 60px;
  font-size: 0.8rem;
}

.navbar__list {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  max-width: 900px;
  list-style: none;
  font-family: var(--default-font);
}

.navbar__item {
  margin: 0 20px;
  text-transform: uppercase;
}

.navbar__link {
  color: var(--color-light-gray);
  text-decoration: none;
  font-weight: bold;
  padding: 5px 0;
}

.navbar__link:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px white solid;
  -webkit-transition: .3s;
  transition: .3s;
}

.header {
  position: relative;
  background-color: grey;
  height: 400px;
}

.header__titles {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__title {
  font-family: var(--special-font);
  text-transform: uppercase;
  font-size: 2.5rem;
}

.header__link {
  position: absolute;
  top: 20px;
  right: 20%;
}

.header__subtitle {
  text-align: center;
}

.section-defaults {
  padding: 50px 30px;
}

.about {
  background-color: white;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 300px;
}

.about__pic {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.about__img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border: 1px gray solid;
  border-radius: 50%;
}

.about__description {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: justify;
  text-align-last: center;
}

.skills {
  background-color: grey;
}

.skills__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 200px;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills__item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 10px;
  text-align: center;
}

.portfolio {
  background-color: white;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.project {
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 2px black solid;
  margin: 20px 0;
  height: 260px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: hidden;
}

.project__container {
  height: 520px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1s;
  transition: 1s;
}

.project__container:hover {
  -webkit-transform: translateY(-260px);
          transform: translateY(-260px);
}

.project__img {
  background-color: lightgray;
  width: 100%;
  height: 260px;
}

.project__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 260px;
  padding: 20px;
}

.project__title {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.project__info {
  text-align: center;
}

.project__additional-info {
  text-align: center;
  margin-top: 15px;
  text-transform: uppercase;
}

.contact {
  background-color: grey;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact__side-area {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px lightgray solid;
}

.contact__text {
  width: 90%;
  text-align: center;
}

.contact__icon {
  margin-bottom: 30px;
}

.contact__form {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__input {
  margin: 7px;
  padding: 5px;
}

.form__btn {
  margin: 7px;
  padding: 5px;
  text-transform: uppercase;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: black;
  height: 100px;
}

.footer__copyrights {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */