@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600,700|Open+Sans:400,700&display=swap");
:root {
  --main-color: #c471ed;
  --secondary-color: #12c2e9;
  --color-black: #444444;
  --default-font: 'Open Sans', sans-serif;
  --special-font: 'Bai Jamjuree', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: var(--default-font);
  color: var(--color-black);
  scroll-behavior: smooth;
  background-color: lightgray;
  line-height: 1.4;
  background: #f0f0f0;
  min-width: 320px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--default-font);
  font-weight: 600;
  letter-spacing: 1px;
}

h1::after {
  content: " ";
  display: block;
  background: #d0d0d0;
  width: 225px;
  height: 3px;
  margin: 20px auto;
}

h2 {
  font-size: 1.5rem;
  font-family: var(--default-font);
}

h3 {
  font-size: 1.17rem;
  font-family: var(--default-font);
}

h4 {
  font-size: 1rem;
  font-family: var(--default-font);
}

h5 {
  font-size: .85rem;
  font-family: var(--default-font);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(20, 20, 20, 0.85);
  color: white;
  min-height: 60px;
  padding: 10px 0;
  line-height: 30px;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar__list {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  list-style: none;
  font-family: var(--default-font);
}

.navbar__item {
  text-transform: uppercase;
  text-align: center;
}

.navbar__link {
  color: lightgray;
  text-decoration: none;
  padding: 5px 0;
}

.navbar__link:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px white solid;
  -webkit-transition: .3s;
  transition: .3s;
}

.header {
  position: relative;
  background-image: linear-gradient(-45deg, #12c2e9, #c471ed, #f64f59);
  height: 400px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../img/header_lg.jpg");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__titles {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__title {
  font-family: var(--special-font);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 3px;
}

h1::after {
  margin: 25px auto;
}

.header__subtitle {
  text-align: center;
}

.section-defaults {
  padding: 50px 30px;
}

.about {
  background-color: white;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about__pic {
  width: 100%;
}

.about__img {
  display: block;
  margin: 20px auto;
  width: 85%;
  max-width: 250px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 2px lightgray;
          box-shadow: 0 0 5px 2px lightgray;
}

.about__description {
  position: relative;
  width: 85%;
  text-align: justify;
  text-align-last: center;
  padding: 20px;
  margin: 40px 0;
  border-radius: 20px 0;
  background-color: white;
  -webkit-box-shadow: 0 0 0 10px white, 0 0 0 20px rgba(196, 113, 237, 0.5);
          box-shadow: 0 0 0 10px white, 0 0 0 20px rgba(196, 113, 237, 0.5);
  z-index: 1;
}

.skills {
  background-color: rgba(196, 113, 237, 0.5);
  -webkit-box-shadow: 0 0 7px 2px lightgray;
          box-shadow: 0 0 7px 2px lightgray;
}

.skills h1::after {
  background-color: rgba(255, 255, 255, 0.5);
}

.skills__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80vw;
}

.skills__item {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.skills__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 11px;
  -webkit-box-shadow: 0 0 0 5px rgba(196, 113, 237, 0.5), 0 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 5px rgba(196, 113, 237, 0.5), 0 0 0 10px rgba(255, 255, 255, 0.5);
  margin: 20px;
}

.skills__item-text {
  margin-top: 15px;
  font-family: var(--special-font);
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.project {
  -ms-flex-preferred-size: 80vw;
      flex-basis: 80vw;
  height: 60vw;
  -webkit-box-shadow: 0 0 7px 1px lightgray;
          box-shadow: 0 0 7px 1px lightgray;
  margin: 20px auto;
  overflow: hidden;
}

.project__container {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1s;
  transition: 1s;
}

.project__container:hover {
  -webkit-transform: translateY(-60vw);
          transform: translateY(-60vw);
}

.project__img {
  width: 100%;
  position: relative;
}

.project__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60vw;
  padding: 20px;
  overflow: hidden;
}

.project__title {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.project__info {
  text-align: center;
}

.project__additional-info {
  text-align: center;
  margin-top: 15px;
  text-transform: uppercase;
}

.contact {
  position: relative;
  background-color: #9FE2F0FF;
  -webkit-box-shadow: 0 0 5px 1px lightgray;
          box-shadow: 0 0 5px 1px lightgray;
}

.contact h1::after {
  background-color: #12c2e9;
}

.contact__form {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin: 0 auto;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.form__input[name] {
  margin: 7px;
  padding: 5px;
  border: 1px lightgray solid;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 5px 0 lightgray;
          box-shadow: 0 0 5px 0 lightgray;
  font-family: var(--default-font);
  font-size: 1rem;
}

.form__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin-top: 25px;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-family: var(--default-font);
  font-size: 1.1rem;
  height: 70px;
  width: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  background-image: -webkit-gradient(linear, right top, left top, from(#C471ED), to(#12c2e9));
  background-image: linear-gradient(to left, #C471ED, #12c2e9);
  border-radius: 25px;
  border: 0;
  cursor: pointer;
  z-index: 1;
}

.form__btn::before {
  position: absolute;
  display: block;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0 5px #9FE2F0FF;
          box-shadow: 0 0 0 5px #9FE2F0FF;
  content: "";
  z-index: 2;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: #1e1e1e;
  height: 100px;
}

.footer__copyrights {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.anchor {
  display: block;
  position: relative;
  top: -110px;
  visibility: hidden;
}

@media (max-width: 400px) {
  .navbar__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (max-width: 500px) {
  .project {
    -ms-flex-preferred-size: 90vw;
        flex-basis: 90vw;
    height: auto;
  }
  .project__description {
    position: relative;
    height: auto;
  }
  .project__description::before {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px);
    width: 30vw;
    height: 3px;
    background-color: lightgray;
    content: "";
  }
  .project__container:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .about__pic {
    -ms-flex-preferred-size: 28%;
        flex-basis: 28%;
  }
  .about__description {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .skills__item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .skills__container {
    width: 100%;
  }
  .navbar__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    max-width: 900px;
  }
  .navbar__item {
    margin: 0 20px;
  }
  .project {
    -ms-flex-preferred-size: 43vw;
        flex-basis: 43vw;
    height: 32vw;
  }
  .project__container:hover {
    -webkit-transform: translateY(-32vw);
            transform: translateY(-32vw);
  }
  .project__description {
    height: 32vw;
  }
  .contact__form {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .container {
    -webkit-box-shadow: 0 0 10px lightgray;
            box-shadow: 0 0 10px lightgray;
  }
  .project {
    -ms-flex-preferred-size: 440px;
        flex-basis: 440px;
    height: 328px;
  }
  .project__container:hover {
    -webkit-transform: translateY(-328px);
            transform: translateY(-328px);
  }
  .project__description {
    height: 328px;
  }
  .contact__form {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */