@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --main-color: lightblue;
  --main-color-lighter: lightblue;
  --main-color-darker: lightblue;
  --secondary-color: lightcoral;
  --color-white: white;
  --color-black: black;
  --color-dark-gray: gray;
  --color-light-gray: lightgray;
  --default-font: 'roboto', arial, sans-serif;
  --special-font: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: lightgray;
  line-height: 1.4;
}

h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--default-font);
}

h2 {
  font-size: 1.5rem;
  font-family: var(--default-font);
}

h3 {
  font-size: 1.17rem;
  font-family: var(--default-font);
}

h4 {
  font-size: 1rem;
  font-family: var(--default-font);
}

h5 {
  font-size: .85rem;
  font-family: var(--default-font);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 60px;
  font-size: 0.8rem;
}

.navbar__list {
  align-self: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 900px;
  list-style: none;
  font-family: var(--default-font);
}

.navbar__item {
  margin: 0 20px;
  text-transform: uppercase;
}

.navbar__link {
  color: var(--color-light-gray);
  text-decoration: none;
  font-weight: bold;
  padding: 5px 0;
}

.navbar__link:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px white solid;
  transition: .3s;
}

.header {
  position: relative;
  background-color: grey;
  height: 400px;
}

.header__titles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__title {
  font-family: var(--special-font);
  text-transform: uppercase;
  font-size: 2.5rem;
}

.header__link {
  position: absolute;
  top: 20px;
  right: 20%;
}

.header__subtitle {
  text-align: center;
}

.about {
  background-color: white;
  padding: 30px 30px;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
}

.about__pic {
  flex-basis: 25%;
}

.about__img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border: 1px gray solid;
  border-radius: 50%;
}

.about__description {
  flex-basis: 50%;
  text-align: justify;
  text-align-last: center;
}

.skills {
  background-color: grey;
  padding: 30px 30px;
}

.skills__container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.skills__item {
  flex-basis: 20%;
  margin: 10px;
  text-align: center;
}

.portfolio {
  background-color: white;
  padding: 30px 30px;
}

.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.portfolio__project {
  flex-basis: 45%;
  flex-shrink: 0;
  border: 1px lightgray solid;
  margin: 10px 0;
}

.portfolio__project-img {
  width: 100%;
  height: 160px;
  border: 1px gray solid;
}

.portfolio__project-title {
  text-align: center;
}

.contact {
  background-color: grey;
  padding: 30px 30px;
}

.contact__container {
  display: flex;
  justify-content: space-evenly;
}

.contact__side-area {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px lightgray solid;
}

.contact__text {
  width: 90%;
  text-align: center;
}

.contact__icon {
  margin-bottom: 30px;
}

.contact__form {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__input {
  margin: 7px;
  padding: 5px;
}

.form__btn {
  margin: 7px;
  padding: 5px;
  text-transform: uppercase;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: black;
  height: 100px;
}

.footer__copyrights {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}